# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
*.apk
*.so

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
modules/keeper-git/ios/rust/
modules/keeper-git/android/build/
modules/keeper-git/.cargo-target/

# Tauri
src-tauri/target/
src-tauri/git_core/target/
src-tauri/git_core/target/

# cursor debug
.cursor/debug*.log

# grove
.grove/workspace.json
